*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
html,body{
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}