.landingOne{
    height: min-content;
    .landingOneWrapper{
        .landingOneBackParent{
            position: relative;
            display: flex;
            flex-direction: row;
            .landingOneBackLeft{
                background-color: var(--back-color-left-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneBackRight{
                background-color: var(--back-color-right-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneCenterImage{
                height: 80vh;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 4;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .headerOne{
                position: absolute;
                top: 0;
                z-index: 3;
                margin-top: 30px;
                background-color: transparent;
                height: min-content;
                width: 100%;
                .navigation{
                    ul{
                        height: 70px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        li{
                            margin: 0 3%;
                            .OneLinks{
                                padding: 10px 20px;
                                height: 100%;
                                width: 100%;
                                cursor: pointer !important;
                                margin: 10px;
                                font-size: 1.4rem;
                            }
                            .logo{
                                font-size: 3.5rem;
                                font-weight: 800;
                                margin-right: -50px;
                                span{
                                    color: #fff;
                                }
                            }
                        }
                        .logoLink{
                            margin: 0 6%;
                        }
                        .linkWhiteText{
                            .OneLinks{
                                color: var(--text-color-light);
                            }
                        }
                        .linkDarkText{
                            .OneLinks{
                                color: var(--back-color-right-lOne);
                            }
                        }
                    }
                }
            }
            .textOverlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                z-index: 2;
                .overlayWapper{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .txtCachy{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .ChachyText{
                            text-transform: uppercase;
                            font-size: 20rem;
                            color: var(--back-color-right-lOne);
                            span{
                                color: var(--text-color-light);
                            }
                        }
                    }
                    .leftBottomAc{
                        position: absolute;
                        top: 67%;
                        left: 11.5%;
                        width: 32%;
                        height: min-content;
                        p{
                            font-size: 1.2rem;
                            color: #6c6c6c;
                            margin-bottom: 50px;
                        }
                        .leftBottomShop{
                            padding: 15px 60px;
                            border-radius: 23px;
                            color: var(--text-color-light);
                            cursor: pointer;
                            background-color: var(--back-color-right-lOne);
                        }
                    }
                }
            }
        }
    }
}