.landingOne{
    height: min-content;
    .landingOneWrapper{
        .landingOneBackParent{
            position: relative;
            display: flex;
            flex-direction: row;
            .landingOneBackLeft{
                background-color: var(--back-color-left-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneBackRight{
                background-color: var(--back-color-right-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneCenterImage{
                height: 80vh;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .headerOne{
                position: absolute;
                top: 0;
                z-index: 1;
                margin-top: 20px;
                background-color: rgb(138, 255, 181);
                height: 70px;
                width: 100%;
            }
            .textOverlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                z-index: 2;
            }
        }
    }
}