.landingOne{
    height: min-content;
    .landingOneWrapper{
        .landingOneBackParent{
            position: relative;
            display: flex;
            flex-direction: row;
            .landingOneBackLeft{
                background-color: var(--back-color-left-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneBackRight{
                background-color: var(--back-color-right-lOne);
                width: 50%;
                height: 100vh;
            }
            .landingOneCenterImage{
                @media(max-width: 500px){
                    display: none !important;
                }
                height: 80vh;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 4;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .headerOne{
                position: absolute;
                top: 0;
                z-index: 3;
                margin-top: 30px;
                background-color: transparent;
                height: min-content;
                width: 100%;
                .navigation{
                    ul{
                        height: 70px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        li{
                            margin: 0 3%;
                            .OneLinks{
                                padding: 10px 20px;
                                height: 100%;
                                width: 100%;
                                cursor: pointer !important;
                                margin: 10px;
                                font-size: 1.4rem;
                            }
                            .logo{
                                font-size: 3.5rem;
                                font-weight: 800;
                                margin-right: -50px;
                                span{
                                    color: #fff;
                                }
                            }
                        }
                        .logoLink{
                            margin: 0 6%;
                        }
                        .linkWhiteText{
                            .OneLinks{
                                color: var(--text-color-light);
                            }
                        }
                        .linkDarkText{
                            .OneLinks{
                                color: var(--back-color-right-lOne);
                            }
                        }
                    }
                }
            }
            .textOverlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: transparent;
                z-index: 2;
                .overlayWapper{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    .txtCachy{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .ChachyText{
                            @media(max-width:1440px){
                                font-size: 16rem;
                            }
                            @media(max-width:1000px){
                                font-size: 12rem;
                            }
                            @media(max-width:850px){
                                font-size: 10rem;
                            }
                            @media(max-width:700px){
                                font-size: 8rem;
                            }
                            text-transform: uppercase;
                            font-size: 20rem;
                            color: var(--back-color-right-lOne);
                            span{
                                color: var(--text-color-light);
                            }
                        }
                    }
                    .leftBottomAc{
                        @media(max-width: 1440px){
                            left: 6.5%;
                        }
                        position: absolute;
                        top: 67%;
                        left: 11.5%;
                        width: 32%;
                        height: min-content;
                        p{
                            @media(max-width: 1440px){
                                font-size: 1rem;
                            }
                            font-size: 1.2rem;
                            color: #6c6c6c;
                            margin-bottom: 50px;
                        }
                        .leftBottomShop{
                            padding: 15px 60px;
                            border-radius: 23px;
                            color: var(--text-color-light);
                            cursor: pointer;
                            background-color: var(--back-color-right-lOne);
                        }
                    }
                }
            }
            .ovPatchyOne, .ovPatchyTwo, .ovPatchyThree{
                position: absolute;
                z-index: 5;
                width: 250px;
                height: 100px;
                background-color: #ffffff63;
                .PatchyOvWrapper{
                    position: relative;
                    display: flex;
                    padding: 10px;
                    height: 100%;
                    .attractaImagio{
                        width: 40%;
                        background-color: #ffffffc8;
                        position: relative;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 70%;
                            margin: auto;
                            display: block;
                            object-fit: cover;
                        }
                    }
                    .attractaInfo{
                        width: 60%;
                        margin-left: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        .itName{
                            font-size: 0.8rem;
                            color: var(--text-color-dark);
                            margin-bottom: 0px;
                            margin-top: 10px;
                        }
                        .itPrice{
                            font-size: 0.8rem;
                            color: var(--text-color-dark);
                            margin-bottom: -5px;
                        }
                        .itRatings{
                            .ovRatings{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            .ovPatchyOne{
                top: 15%;
                left: 25%;
            }
            .ovPatchyTwo{
                top: 17%;
                left: 60%;
            }
            .ovPatchyThree{
                top: 75%;
                left: 48%;
            }
        }
    }
}