.landingOne {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.landingOne .landingOneWrapper .landingOneBackParent {
  position: relative;
  display: flex;
  flex-direction: row;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneBackLeft {
  background-color: var(--back-color-left-lOne);
  width: 50%;
  height: 100vh;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneBackRight {
  background-color: var(--back-color-right-lOne);
  width: 50%;
  height: 100vh;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneCenterImage {
  height: 80vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
@media (max-width: 500px) {
  .landingOne .landingOneWrapper .landingOneBackParent .landingOneCenterImage {
    display: none !important;
  }
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneCenterImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne {
  position: absolute;
  top: 0;
  z-index: 3;
  margin-top: 30px;
  background-color: transparent;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li {
  margin: 0 3%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .OneLinks {
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  cursor: pointer !important;
  margin: 10px;
  font-size: 1.4rem;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .logo {
  font-size: 3.5rem;
  font-weight: 800;
  margin-right: -50px;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .logo span {
  color: #fff;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .logoLink {
  margin: 0 6%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .linkWhiteText .OneLinks {
  color: var(--text-color-light);
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .linkDarkText .OneLinks {
  color: var(--back-color-right-lOne);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
  text-transform: uppercase;
  font-size: 20rem;
  color: var(--back-color-right-lOne);
}
@media (max-width: 1440px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
    font-size: 16rem;
  }
}
@media (max-width: 1000px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
    font-size: 12rem;
  }
}
@media (max-width: 850px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
    font-size: 10rem;
  }
}
@media (max-width: 700px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
    font-size: 8rem;
  }
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText span {
  color: var(--text-color-light);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .leftBottomAc {
  position: absolute;
  top: 67%;
  left: 11.5%;
  width: 32%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
@media (max-width: 1440px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .leftBottomAc {
    left: 6.5%;
  }
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .leftBottomAc p {
  font-size: 1.2rem;
  color: #6c6c6c;
  margin-bottom: 50px;
}
@media (max-width: 1440px) {
  .landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .leftBottomAc p {
    font-size: 1rem;
  }
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .leftBottomAc .leftBottomShop {
  padding: 15px 60px;
  border-radius: 23px;
  color: var(--text-color-light);
  cursor: pointer;
  background-color: var(--back-color-right-lOne);
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree {
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3882352941);
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper {
  position: relative;
  display: flex;
  padding: 10px;
  height: 100%;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaImagio, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaImagio, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaImagio {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.7843137255);
  position: relative;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaImagio img, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaImagio img, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaImagio img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  margin: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaInfo, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaInfo, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaInfo {
  width: 60%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaInfo .itName, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaInfo .itName, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaInfo .itName {
  font-size: 0.8rem;
  color: var(--text-color-dark);
  margin-bottom: 0px;
  margin-top: 10px;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaInfo .itPrice, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaInfo .itPrice, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaInfo .itPrice {
  font-size: 0.8rem;
  color: var(--text-color-dark);
  margin-bottom: -5px;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne .PatchyOvWrapper .attractaInfo .itRatings .ovRatings, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo .PatchyOvWrapper .attractaInfo .itRatings .ovRatings, .landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree .PatchyOvWrapper .attractaInfo .itRatings .ovRatings {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyOne {
  top: 15%;
  left: 25%;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyTwo {
  top: 17%;
  left: 60%;
}
.landingOne .landingOneWrapper .landingOneBackParent .ovPatchyThree {
  top: 75%;
  left: 48%;
}/*# sourceMappingURL=landingOne.css.map */