.landingOne {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.landingOne .landingOneWrapper .landingOneBackParent {
  position: relative;
  display: flex;
  flex-direction: row;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneBackLeft {
  background-color: var(--back-color-left-lOne);
  width: 50%;
  height: 100vh;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneBackRight {
  background-color: var(--back-color-right-lOne);
  width: 50%;
  height: 100vh;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneCenterImage {
  height: 80vh;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.landingOne .landingOneWrapper .landingOneBackParent .landingOneCenterImage img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne {
  position: absolute;
  top: 0;
  z-index: 3;
  margin-top: 30px;
  background-color: transparent;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li {
  margin: 0 3%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .OneLinks {
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  cursor: pointer !important;
  margin: 10px;
  font-size: 1.4rem;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .logo {
  font-size: 3.5rem;
  font-weight: 800;
  margin-right: -50px;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul li .logo span {
  color: #fff;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .logoLink {
  margin: 0 6%;
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .linkWhiteText .OneLinks {
  color: var(--text-color-light);
}
.landingOne .landingOneWrapper .landingOneBackParent .headerOne .navigation ul .linkDarkText .OneLinks {
  color: var(--back-color-right-lOne);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 2;
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText {
  text-transform: uppercase;
  font-size: 20rem;
  color: var(--back-color-right-lOne);
}
.landingOne .landingOneWrapper .landingOneBackParent .textOverlay .overlayWapper .txtCachy .ChachyText span {
  color: var(--text-color-light);
}/*# sourceMappingURL=landingOne.css.map */